body {
    margin: 0;
  }
  /*.center{
  justify-content: center;
  margin:30px;
  }
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  .navbar a.right {
    float: right;
    background-color: #333;
  }
  .main { 
      margin: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .left {
    flex: 2;
    padding: 20px;
  }
  .right {   
    flex: 1;
    padding: 20px;
  }
  .sub-header{
    width: 100%;
    position:absolute;
    top:0px;
    left: 0px;
  background-color: rgb(83, 79, 79);  
  height: 60px;
  color: white;
}
.sub-header p{
    margin: 10px;
    padding: 10px;
    font-size: larger;
}
.card {
    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    position:relative;
    
}

.header {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
    margin-top: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.profile-pic {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.icon {
    height: 20px;
}
